body{
    background-image: url('../../images/09dfd9dc-2af3-4ca4-b1a0-e599fa18ff0c.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
ul.ulnav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:neon greenyellow;
}
li.linav{
    float:left;
}
li.linav a{
    display: block;
    color:lavender;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color:rgba(137, 53, 216, 0.589);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: burlywood;
    
}
span.subtitle{
    font-size: 10pt;
    color: rgb(231, 55, 93);
    font-family: Verdana;
}
span.maintitle{
    font-size: 20pt;
    color: black;
    font-family: Verdana;
}
a.nav{
    font-size: 8pt;
    color:white;
    font-family: Verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 10pt;
    color: rgb(222, 247, 6);
    font-family: Verdana;
    text-decoration: none;
}
#page_wrapper{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10 px;
    height: 85%;
    width: 90%;
    background: rgb(102,102,102,0.85);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
p.p_content1{
    font-size: 12pt;
    color: white;
    font-family: Verdana;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #ffffff;
}
span.font1{
    font-size: 20pt;
    color: white;
    font-family: Verdana;
    font-weight: bold;
}